.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #272424;
    padding: 0 calc(100vw / 10);
}

.navbar .logo {
   display: flex;
   align-items: center;
}

.navbar .logo img {
   height: 24px;
   width: 24px;
}

.navbar .logo h1 {
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #272424;
}
.navbar .links {
        display: flex;
        justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    .navbar .links a{
        display: none;
    }
}
.navbar .links .icon img {
    height: 24px;
    width: 24px;
}
@media only screen and (min-width: 769px) {
    .navbar .links .icon img {
        display: none;
    }
}
.navbar .links a {
        margin-left: 10px;
        color: black;
        text-decoration: none;
}

.navbar .links a:nth-child(4)::after {
        content: "|";
        margin-left: 10px;
}

.content-wrapper {
    width: 66.67%;
    float: none;
    padding: 0 calc(100vw / 6);
    padding-top: 5%;
    padding-bottom: 130px;
}

@media only screen and (max-width: 769px) {
    .content-wrapper {
        width: 66.6%;
        float: none;
        padding-top: 5%;
        padding-bottom: 130px;
    }
}



.content {
    background-color: #E6FCFF;
    box-sizing: border-box;
    display: flex;
}

    .box {
        flex-basis: 25%;
        height: 491px;
    }

    .mainbox {
        flex-basis: 50%;
        height: 491px;
    }

    .titulo {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 58px;
        text-align: center;
        color: #5B10BB;
        font-weight: bold;
    }
@media only screen and (max-width: 769px) {
    .titulo {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 58px;
        text-align: center;
        color: #5B10BB;
        font-weight: bold;
    }
}

    .subtitulo {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }

    .white-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 100%;
        height: 300px;
        background-color: white;
    }

    .subtitulo2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #522D82;
        margin-bottom: 20px;
    }

    .subtitulo3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #522D82;
    }

    .white-box-small-low {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 130px;
        height: 70px;
        background-color: white;
        width: 60%;
        border-radius: 20px;
    }

    @media only screen and (max-width: 1200px) {
        .white-box-small-low {
            display: none;
        }
    }

    .white-box-small-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 130px;
        height: 70px;
        background-color: white;
        width: 60%;
        border-radius: 20px;
    }

    @media only screen and (max-width: 1200px) {
        .white-box-small-center {
            display: none;
        }
    }

    .white-box-med-low {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
        height: 80px;
        background-color: white;
        width: 40%;
        border-radius: 20px;
        margin-left: auto;
        margin-right: 15px;
    }

    @media only screen and (max-width: 1200px) {
        .white-box-med-low {
            display: none;
        }
    }


    .white-box-med-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
        height: 80px;
        background-color: white;
        width: 40%;
        border-radius: 20px;
        margin-left: auto;
        margin-right: 15px;
    }

    @media only screen and (max-width: 1200px) {
        .white-box-med-center {
            display: none;
        }
    }

    footer {      
        background-color: #FFFF;
        padding: 5%;
    }

    .orange-box {
        background-color: #FFF7F2;
        width: 60%;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }

    .titulo-rodape {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        color: #522D82;
        text-align: left;
        margin-right: 7.5%;
    }
@media only screen and (max-width: 1200px) {
    .titulo-rodape {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        color: #522D82;
        text-align: center;
        margin-right: 7.5%;
    }
}

@media only screen and (max-width: 768px) {
    .titulo-rodape {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #522D82;
        text-align: center;
        margin-right: 7.5%;
    }
}

    .text-button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
@media only screen and (max-width: 1200px) {
    .text-button-wrapper {
         display: block;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
}

    .btn-purple {
        color: white;
        padding: 10px 20px;
        border: none;
        width: 25%;
        margin-left: 20px;
        background: #6526B4;
        border-radius: 20px;
        height: 80px;
    }
@media only screen and (max-width: 1200px) {
    .btn-purple {
        color: white;
        padding: 10px 20px;
        border: none;
        width: 65%;
        margin-left: 20px;
        background: #6526B4;
        border-radius: 20px;
        height: 80px;
    }
}
.btn-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
}
